.casilla {
  width: 150px;
  height: 150px;
  font-size: 100px;
}
.reset {
  width: 200px;
  height: 50px;
  font-size: 20px;
}

#tablero {
  text-align: center;
}
#texto{
  text-align: center;
  color: #0000FF; 
  font-size: 12pt;

}

.caja {
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  background:green;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 50px;
  }
  .caja1 {
  
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #0e0c0c;
    background:whitesmoke;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 5px;
    }
    